/* override index animations */
@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes shadow {
  from {
    text-shadow: 0 0 10px transparent;
  }
  to {
    text-shadow: 0 28px 50px rgba(0, 0, 0, 0.8);
  }
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.fade-in {
  animation: fadeIn ease 5s;
}

body>div#main-about {
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

.columns.is-mobile {
  display: block !important;
}

img.center-img {
  display: flex;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

body>div#main-about {
  /* background-size: 80%; */
  background: #fff;
  position: relative;
  /* animation: 1s ease-out 0s 1 slideInFromRight; */
}

div#main-about {
  padding: 1em 2em;
  height: calc(100% - 2em);
}
/* Creds to https://codepen.io/asistapl/ for text-shadow effect */
h3.shake-text {
  letter-spacing: -0.07ex;
  animation: shadow 1.5s infinite alternate ease-in-out;
}
.card{
  position: relative;
  margin: auto;
  width: 300px;
  height: 310px;
  background: #fff;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(0,0,0,.2);
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}
.card .imgBx{
  position: absolute;
  left: 10px;
  bottom: 10px;
  right: 10px;
  transition: 0.5s;
  z-index: 1;
}
.column {
  display: table-footer-group !important;
}

.underline {
  border-bottom: 2px solid #43C6AC;
  display: inline-block;
  line-height: 0.85;
  text-shadow:
    2px 2px white,
    2px -2px white,
    -2px 2px white,
    -2px -2px white;
}

.alignleft {
  float: left;
  display: block;
}
.alignright {
	float: right;
}

.underline-2 {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: #43C6AC;
}
.center-emoji-effect {
  margin-top: -0.1em !important;
}
/* div.columns.is-mobile.is-centered.is-vcentered {
  margin-left: 3em !important;
} */

.is-mobile-2 {
  text-align: -webkit-center;
  padding-top: 20px;
}

.is-centered2 {
  display: table !important;
  margin: 0 auto;
}

.timeline-title {
  color: #43C6AC !important;
}

.tag:not(body).is-primary {
  background: #fff !important;
  color: #000 !important;
  font-size: 120% !important;
}

i.fas.fa-caret-right {
  color: #43C6AC;
}

td.no-line {
  border-bottom: none !important;
}

.small-font {
  font-size: 16px !important;
}


@media only screen and (min-width: 868px) {
  body>div#main-about {
    margin: 1em;
    -webkit-box-shadow: -2px 2px 11px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: -2px 2px 11px 0px rgba(0,0,0,0.25);
    box-shadow: -2px 2px 11px 0px rgba(0,0,0,0.25);
  }

  img.center-img {
    display: flex;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .columns.is-mobile {
    display: flex !important;
  }
  .card{
    position: relative;
    margin: auto;
    width: 300px;
    height: 310px;
    background: #fff;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
  }
  .card .imgBx{
    position: absolute;
    left: 10px;
    bottom: 10px;
    right: 10px;
    transition: 0.5s;
    z-index: 1;
  }

}