/* override index animations */
@keyframes slideInFromRight {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
}
body>div#main {
    margin: 1em;
    /* background-size: 80%; */
    background: #fff;
    -webkit-box-shadow: -2px 2px 11px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: -2px 2px 11px 0px rgba(0,0,0,0.25);
    box-shadow: -2px 2px 11px 0px rgba(0,0,0,0.25);
    position: relative;
    animation: 1s ease-out 0s 1 slideInFromRight;
}