/* override index animations */
@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
}
body>div#main-about {
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

img.center-img {
  display: flex;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

body>div#main-about {
  /* background-size: 80%; */
  background: #fff;
  position: relative;
  /* animation: 1s ease-out 0s 1 slideInFromRight; */
}

div#main-about {
  padding: 1em 2em;
  height: calc(100% - 2em);
}

@media only screen and (min-width: 868px) {
  body>div#main-about {
    margin: 1em;
    -webkit-box-shadow: -2px 2px 11px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: -2px 2px 11px 0px rgba(0,0,0,0.25);
    box-shadow: -2px 2px 11px 0px rgba(0,0,0,0.25);
  }

}