html {
    /* height: calc(100% - 2em); */
    height: 100%;
    margin: 0;
    font-family: 'Quicksand', 'sans-serif' !important;
    scroll-behavior: smooth;
}

.first-half {
    background: red;
    height: -webkit-fill-available;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

div.col-hover {
    transition: all .2s ease-in-out;
}
div.col-hover:hover {
    transform: scale(1.5);
    
}

.second-half {
    background: yellow;
    height: -webkit-fill-available;
    display: flex !important;
    justify-content: center;
    align-items: center;
}