/* override index animations */
@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}
body>div#main-portfolio {
  animation: 1s ease-out 0s 1 slideInFromRight;
}

body>div#main-portfolio {
  /* background-size: 80%; */
  background: #fff;
  position: relative;
  /* animation: 1s ease-out 0s 1 slideInFromRight; */
}

div#main-portfolio {
  padding: 1em 2em;
  height: calc(100% - 2em);
}

.container {
  position: relative;
}

.underline {
  border-bottom: 2px solid #43C6AC;
  display: inline-block;
  line-height: 0.85;
  text-shadow:
    2px 2px white,
    2px -2px white,
    -2px 2px white,
    -2px -2px white;
}

ol.filters{
  display: block;
  width: 100%;
  margin: 0;
  padding: 30px 0;
  text-align: center;
}

ol.filters > li{
  list-style: none;
  display: inline-block;
}

ol.filters > li > a{
  display: block;
  color: #434e5e;
  text-decoration: none;
  padding: 5px 20px;
}

ol.filters > li > a:hover{
  background-color: #e6e9ed;
}

ol.filters > li.active > a{
  color: #fff;
  background-color: #28bea8;
}
li.active {
  position: relative;
  width: auto;
  padding-top: 0;
}

.card{
  position: relative;
  margin-bottom: 50px;
  color: #000;
  border-radius: 0;
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 1px 1px 1.5px rgba(0,0,0,0.075);
  cursor: pointer;
}

.card-head{
  position: relative;
  overflow: hidden;
}

.card-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.425);
  display: flex;
  align-items: center;
  justify-content: center;
  color :#fff;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.card-hover{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40,190,168,0.9);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

h4.title{
  color: #434e5e;
  font-size: 1.2rem;
  margin-bottom: 0;
  text-align: center;
}

.content ol {
  margin-left: -1em !important;
}
.btn {
  position: relative;
  display: block;
  font-size: 14px;
  /* border: 2px solid #000; */
  margin-left: 30px;
  margin-right: 30px;
  padding: 14px 0 14px 0;
  transition: 1s all ease;
  text-align: center;
}

.columns.is-mobile>.column.is-one-quarter {
  flex: auto !important;
  margin-right: 50px;
}

div.column.column.is-one-quarter.item.html {
  position: initial !important;
}

div.column.column.is-one-quarter.item.css {
  position: initial !important;
}

div.column.column.is-one-quarter.item.javascript {
  position: initial !important;
}

.columns.is-mobile {
  display: contents !important;
}

.columns.is-mobile>.column.is-one-quarter {
  width: auto !important;
}

.content h3 {
  font-size: 1.34em !important;
}

.header {
  color: white !important;
  display: none;
}

.card-hover>p {
  display: none;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.fade-in {
  animation: fadeIn ease 5s;
}

.columns.is-mobile>.column.is-2 {
  flex: auto !important;
  width: inherit !important;
}

@media only screen and (min-width: 868px) {
  body>div#main-portfolio {
    margin: 1em;
    -webkit-box-shadow: -2px 2px 11px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: -2px 2px 11px 0px rgba(0,0,0,0.25);
    box-shadow: -2px 2px 11px 0px rgba(0,0,0,0.25);
  }
  .card-hover>p {
    display: flex;
  }

  .container {
    position: inherit !important;
  }
  
  .header {
    display: flex;
  }

  .btn {
    position: relative;
    display: block;
    font-size: 14px;
    /* border: 2px solid #000; */
    margin-left: 30px;
    margin-right: 30px;
    padding: 14px 0 14px 0;
    transition: 1s all ease;
    text-align: center;
  }


  .columns.is-mobile>.column.is-2 {
    flex: none !important;
    margin-right: 20px;
  }

  .columns.is-mobile {
    display: flex !important;
  }

  .columns.is-mobile>.column.is-2 {
    width: 25% !important;
  }

  div.columns.is-mobile {
    margin-left: 1em;
  }

  div.column {
    margin-right: 10em;
  }

  .column {
    padding: 0 !important;
  }

}

@media only screen and (max-width: 570px) {
  .columns.is-mobile>.column.is-2 {
    flex: auto !important;
    width: inherit !important;
  }

}

@media only screen and (min-width: 1088px) {

  .container {
    position: absolute !important;
  }
}

@media only screen and (max-width: 1087px) {

  .container {
    position: relative !important;
  }
}

@media only screen and (min-width: 1592px) {

  .container {
    margin-left: 5em !important;
  }
}

@media only screen and (min-width: 2136px) {

  .container {
    margin-left: 15em !important;
  }
}

@media only screen and (min-width: 2688px) {

  .container {
    margin-left: 35em !important;
  }
}

@media only screen and (min-width: 2920px) {

  .container {
    margin-left: 45em !important;
  }
}