/* override index animations */
@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
}
  
  body>div#main-speak {
      animation: 1s ease-out 0s 1 slideInFromBottom;
    }
    
    body>div#main-speak {
      /* background-size: 80%; */
      background: #fff;
      position: relative;
      /* animation: 1s ease-out 0s 1 slideInFromRight; */
    }
    
    div#main-speak {
      padding: 2em;
      height: calc(100% - 2em);
    }

    @keyframes fadeIn{
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      .fade-in {
        animation: fadeIn ease 5s;
      }

      .underline {
        border-bottom: 2px solid currentColor;
        display: inline-block;
        line-height: 0.85;
        text-shadow:
          2px 2px white,
          2px -2px white,
          -2px 2px white,
          -2px -2px white;
      }

      #playlist li{
        cursor: pointer;
        padding: 8px;
        text-align: center;
        list-style-type: none;
    }

    #mainvid {
      height:480px;
      margin: 4em auto 0 auto;   
      border:1px solid silver;
      /* padding-top: 1px; */
      /* position: absolute; */
  }

   

    @media only screen and (min-width: 868px) {
        body>div#main-speak {
          margin: 1em;
          -webkit-box-shadow: -2px 2px 11px 0px rgba(0,0,0,0.25);
          -moz-box-shadow: -2px 2px 11px 0px rgba(0,0,0,0.25);
          box-shadow: -2px 2px 11px 0px rgba(0,0,0,0.25);
        }

        .content h3 {
          position: absolute;
        }

        /* Video playlist */
        #playlist {
          display: flex;
        }
        #playlist li{
            cursor:pointer;
            padding:8px;
            margin: 0 auto;
            list-style-type: none;
        }
        
        #playlist li:hover{
            color:blue;                        
        }
        #mainvid {
            height:480px;
            margin: 4em auto 0 auto;   
            border:1px solid silver;
            /* position: absolute; */
        }
    }