/* override index animations */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
  
  body>div#main-speak {
      animation: 1s ease-out 0s 1 slideInFromRight;
    }
    
    body>div#main-speak {
      /* background-size: 80%; */
      background: #fff;
      position: relative;
      /* animation: 1s ease-out 0s 1 slideInFromRight; */
    }
    
    div#main-speak {
      padding: 2em;
      height: calc(100% - 2em);
    }

    @keyframes fadeIn{
        0% {
          opacity:0;
        }
        100% {
          opacity:1;
        }
      }
      
      .fade-in {
        animation: fadeIn ease 5s;
      }

      .underline {
        border-bottom: 2px solid #43C6AC;
        display: inline-block;
        line-height: 0.85;
        text-shadow:
          2px 2px white,
          2px -2px white,
          -2px 2px white,
          -2px -2px white;
      } 

      /* Main vid */
      .vid-container {
        position: relative;
        padding-bottom: 52%;
        margin-top: 60px; 
        height: 0; 
      }
      
      .vid-container iframe,
      .vid-container object,
      .vid-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .vid-list-container {
        overflow: hidden;
        margin-top: 20px;
        /* margin-left:4%; */
        padding-bottom: 20px;
      }
      
      .vid-list {
        width: 1344px;
        position: relative;
        top:0;
        left: 0;
      }
      

      .vid-item {
        display: inline;
        width: 148px;
        height: 148px;
        float: left;
        margin: 0;
        padding: 10px;
        padding-bottom: 40% !important;
      }

      .thumb {
        overflow:hidden;
        height: 84px;
      }

      .thumb img {
        width: 100%;
        position: relative;
        top: -13px;
        cursor: pointer;
      }

      .vid-item .desc {
        color: #21A1D2;
        font-size: 15px;
        margin-top:5px;
        cursor: pointer;
      }
      /* Arrows */
      .arrows {
        position:fixed;
        width: 96px;
        margin: 0 auto;
        left: 40%;
      }
      
      .arrow-left {
        color: #fff;
        position: absolute;
        background: #777;
        padding: 15px;
        left: 0;
        top: -20px;
        z-index: 99;
        cursor: pointer;
      }
      
      .arrow-right {
        color: #fff;
        position: absolute;
        background: #777;
        padding: 15px;
        right: 0;
        top: -20px;
        z-index:100;
        cursor: pointer;
      }

    @media only screen and (min-width: 868px) {
        body>div#main-speak {
          margin: 1em;
          -webkit-box-shadow: -2px 2px 11px 0px rgba(0,0,0,0.25);
          -moz-box-shadow: -2px 2px 11px 0px rgba(0,0,0,0.25);
          box-shadow: -2px 2px 11px 0px rgba(0,0,0,0.25);
        }

        .content h3 {
          position: absolute;
        }

        /* Arrows */
        .arrows {
          display: none;
        }

        .vid-item {
          display: table-cell;
          width: 148px;
          height: 148px;
          margin: 0;
          padding: 10px;
  
        }
        
        .vid-list {
          width: auto;
          position: relative;
          top:0;
          left: 0;
        }

        
    }